<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation=" http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-4.2.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <security:http>
        <security:intercept-url pattern="/index" access="permitAll()"/>
        <security:intercept-url pattern="/user/login" access="permitAll()"/>
        <security:intercept-url pattern="/user/loginPage" access="permitAll()"/>
        <security:intercept-url pattern="/captcha" access="permitAll()"/>
        <security:intercept-url pattern="/checkCode" access="permitAll()"/>

        <security:intercept-url pattern="/product/get" access="hasRole('ROLE_PRODUCT_GET')"/>
        <security:intercept-url pattern="/product/add" access="hasRole('ROLE_PRODUCT_ADD')"/>
        <security:intercept-url pattern="/product/del" access="hasRole('ROLE_PRODUCT_DEL')"/>
        <security:intercept-url pattern="/product/mod" access="hasRole('ROLE_PRODUCT_MOD')"/>

        <security:intercept-url pattern="/**" access="isFullyAuthenticated()"/>
        <security:form-login login-page="/user/loginPage"
                             login-processing-url="/user/login"
                             authentication-failure-handler-ref="loginFailureHandler"
                             authentication-success-handler-ref="loginSuccessHandler"/>
        <!--访问拒绝处理很奇怪，像是bug,当我没加处理类时访问无权的接口，会提示403，如果加了就变成405方法不支持了-->
        <security:access-denied-handler ref="accessDeniedHandler"/>
        <!--关闭跨域拦截-->
        <security:csrf disabled="true"/>
    </security:http>



    <security:authentication-manager>
        <security:authentication-provider user-service-ref="userService">
            <!-- 引入密码加密 -->
            <security:password-encoder ref="passwordEncoder"/>
        </security:authentication-provider>
    </security:authentication-manager>

    <bean id="userService" class="com.github.hellxz.security.service.CustomUserDetailService"/>
    <!-- 登录成功与失败的处理 -->
    <bean id="loginSuccessHandler" class="com.github.hellxz.security.security.LoginSuccessHandler"/>
    <bean id="loginFailureHandler" class="com.github.hellxz.security.security.LoginFailureHandler"/>
    <bean id="accessDeniedHandler" class="com.github.hellxz.security.security.AccessDeniedHandler"/>
    <!-- 密码加密，相当于 哈希算法+盐 -->
    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

</beans>